@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* Se retira el margen y el padding al rededor del body. Se establece la altura del body al mismo tamaño del alto de la pantalla. Se alinea todo al centro, tanto en el eje horizontal como en el eje vertical*/

body {
  margin: 0;
  height: 100vh;
  padding: 0;
  font-family: "lato", sans-seriff;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* Se remueven los bordes del input. Se establece un ancho igual que el elemento padre y se establece un margen en la parte inferior */

#searchInput {
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

/* Cuando el input gane el foco, se agregará un borde azul en la parte inferior */

#searchInput:focus {
  border-bottom: 2px solid #4575b6;
}

/* Establece el ancho del contenedor de la tabla (div) en un 80% del ancho de la ventana del navegador y el alto a un 100% del alto de la ventana del navegador. `vh` y `vw` hace responsiva a la table debido a que la escala proporcionalmente al tamaño de la ventana del navegador. Además, establece un margen de 20px en la parte superior y en la parte inferior */
.app {
    width: 80vw;
    height: 100vh;
    margin: 20px 0;
  }
  
  /* Colapsa todos los bordes que separan a cada celda. La tabla ocupa todo el ancho de ".app", además se establece una sobra gris alrededor de la tabla */
  table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 5px 7px gray;
  }
  
  /* Establece una sombra en la cabeza de la tabla */
  thead {
    box-shadow: 0px 0px 10px gray;
  }
  
  /* Agrega algo de espacio al rededor del encabezado de la tabla. Alinea el texto a la dereche y lo convierte a mayúsculas */
  
  th {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
  }
  
  /* Agrega un padding en cada celda */
  td {
    padding: 0.5rem 3rem;
    font-size: 1rem;
  }
  
  /* Crea una alternancia de colores a lo largo de las filas de la tabla. Establece en color azul todas las filas pares (2, 4, 6 ...) */
  
  tr:nth-child(even) {
    background-color: #dee8f5;
  }